body {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: left top;
    background-image: url(minwt.jpg);
    background-color: black;
}
div#top {
    background-color:aqua;
    
}
div#top span{
    color: #fff;
    font-size: 15px;
}